# Domain
DOMAIN_NAME=

# Cloudflare
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_TUNNEL_NAME=capy-lab

# Authentik
AUTHENTIK_ERROR_REPORTING__ENABLED=true
AUTHENTIK_EMAIL__HOST=
AUTHENTIK_EMAIL__PORT=
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__USE_TLS=
AUTHENTIK_EMAIL__USE_SSL=
AUTHENTIK_EMAIL__TIMEOUT=30
AUTHENTIK_EMAIL__FROM=
AUTHENTIK_BOOTSTRAP_EMAIL=
AUTHENTIK_BOOTSTRAP_PASSWORD=

# Capy
CAPY_SERVER_HOST=0.0.0.0
CAPY_SERVER_PORT=8080
CAPY_JWT_EXPIRY_HOURS=24
CAPY_COOKIE_SECURE=true
CAPY_ENV=production
CAPY_GOOGLE_CLIENT_ID=
CAPY_GOOGLE_CLIENT_SECRET=
CAPY_GOOGLE_REDIRECT_URL=
